<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Open Position Form</title> <!-- pay atention -->
        <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../../styles/list.css">
        <link rel="stylesheet" type="text/css" href="../../styles/form.css" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
        <script defer src="../../js/openPositions/formOpenPositions.js" ></script>
    </head>
    <body>
        <header>
          <div class="header-top">
            <div class="welcome">
              <!-- pay atention -->
              <a href="openPosition.html" class="header-button welcome-top">Welcome User</a>
            </div>
            <a href="../../index.html" class="header-button">LOG OUT</a>
          </div>
          <div class="header">
            <a href="../../index.html" class="mindset">MindSet</a>
          </div>
        </header>
        <div class="container-main">
            <section class="main">
                <h1>Open Position Form</h1> <!--name of your Resource-->
                <form id="form" class="form-subscription">
                    <div >
                        <div class="container-form">
                            <ul class="column">
                                <li>
                                    <label for="companyName">Company Name</label>
                                    <input type="text" id="companyName" name="companyName">
                                </li>
                                <li>
                                    <label for="startDate">Start Date</label>
                                    <input type="text" id="startDate" name="startDate">
                                </li>
                                <li>
                                    <label for="endDate">End Date</label>
                                    <input type="text" id="endDate" name="endDate">
                                </li>
                                <li>
                                    <label for="description">Description</label>
                                    <input type="text" id="description" name="description">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <input id="button-green" type="button" value="SAVE">
                    </div>
                </form>
            </section>
            <aside class="side-menu">
                <div>
                    <ul>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                    </ul>
                </div>
            </aside>
        </div>
    </body>
</html>
