.form-subscription {
    padding: 0px 40px 40px 40px;
}
.form-subscription li {
    padding: 10px;
}
.container-form {
    display: flex;
    flex-direction: row;
}
.column {
    width: 50%;
    padding: 0px 30px;
    margin: 30px 0px;
}
.column label {
    display: block;
    padding: 10px 5px;
}
.column input {
    display: inline;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 30px;
}

.button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}