<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Companies Form</title>
    <!-- pay atention -->
    <link rel="stylesheet" type="text/css" href="../../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/list.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/form.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="welcome">
          <!-- pay atention -->
          <a href="listPsychologists.html" class="header-button welcome-top">Welcome User</a>
        </div>
        <a href="../../index.html" class="header-button">LOG OUT</a>
      </div>
      <div class="header">
        <a href="../../index.html" class="mindset">MindSet</a>
      </div>
    </header>
    <div class="container-main">
      <section class="main">
        <h1 id="title">Add Company</h1>
        <form id="form" class="form-subscription">
          <div>
            <div class="container-form">
              <ul class="column">
                <li>
                  <label for="fullname">Full name</label>
                  <input type="text" id="fullname" name="fullname" />
                </li>
                <li>
                  <label for="email">Email</label>
                  <input type="text" id="email" name="email" />
                </li>
                <li>
                  <label for="phone">Phone number</label>
                  <input type="number" id="phone" name="phone" />
                </li>
              </ul>
              <ul class="column">
                <li>
                  <label for="address">Address</label>
                  <input type="text" id="address" name="address" />
                </li>
                <li>
                  <label for="city">City</label>
                  <input type="text" id="city" name="city" />
                </li>
                <li>
                  <label for="zip">ZIP Code</label>
                  <input type="number" id="zip" name="zip" />
                </li>
              </ul>
            </div>
          </div>
          <div class="button">
            <input id="button-green" type="button" value="SAVE" />
          </div>
        </form>
      </section>
      <aside class="side-menu">
        <div>
          <ul>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
          </ul>
        </div>
      </aside>
      <div class="modal hide" id="modal-ok">
        <div class="center-modal">
          <div class="modal-message">
            <h2 id="modal-ok-title"></h2>
            <p id="modal-ok-data"></p>
            <div class="button-modal">
              <button class="modal-ok-confirm" id="modal-ok-confirm">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../js/companies/formCompanies.js"></script>
  </body>
</html>
