<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- pay atention -->
    <title>Administrator List</title>
    <link rel="stylesheet" type="text/css" href="../../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/list.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="welcome">
          <!-- pay atention -->
          <a href="#" class="header-button welcome-top">Welcome User</a>
        </div>
        <a href="../../index.html" class="header-button">LOG OUT</a>
      </div>
      <div class="header">
        <a href="../../index.html" class="mindset">MindSet</a>
      </div>
    </header>
    <div class="container-main">
      <section class="main">
        <!-- pay atention -->
        <h1>Administator List</h1>
        <div class="list">
          <table id="table-session" class="hide">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="table-content"></tbody>
          </table>
          <!-- pay atention -->
          <a href="formAdmin.html" class="button-add">
            <span id="button-green">Add</span>
          </a>
        </div>
      </section>
      <aside class="side-menu">
        <div>
          <ul>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
          </ul>
        </div>
      </aside>
      <div class="modal hide" id="modal">
        <div class="center-modal">
          <div class="modal-message">
            <h2>¿Are you sure that you want to delete this data?</h2>
            <p id="data-modal">acá iria la data</p>
            <div class="button-modal">
              <button class="modal-ok" id="confirm-delete-button">ACCEPT</button>
              <button class="modal-cancel" id="cancel-button">CANCEL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../js/admin/listAdmin.js"></script>
  </body>
</html>